---

name: Linux
permissions:
  contents: read
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:

jobs:
  perl:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        perl-version:
          # - '5.16'
          # - '5.22'
          # - '5.32'
          - 'latest'

    container:
      image: perl:${{ matrix.perl-version }}

    steps:
      - uses: actions/checkout@v6
      - name: perl -V
        run: perl -V
      - name: Update
        run: |
          apt update -q -y
          apt upgrade -y
          apt dist-upgrade -y
          apt install libdbd-csv-perl -y
      - name: Install Dependencies
        run: |
          cpanm -iqn File::Spec ExtUtils::MakeMaker XML::LibXML
          cpanm -iqfn CGI::IDS Data::Throttler CGI::ACL
          cpanm --skip-satisfied -qn Database::Abstraction Log::WarnDie CGI::Lingua FCGI::Buffer || cat /github/home/.cpanm/work/*/build.log
          cpanm --skip-satisfied -qn String::Random Log::Dispatch::File Class::Simple Taint::Runtime
          cpanm --skip-satisfied -qn LWP::UserAgent::Cached Data::Serializer CGI::Carp B::Lint FCGI Template::Plugin::EnvHash HTML::SocialMedia Error IPC::System::Simple
          cpanm --skip-satisfied -qn Template::Plugin::JSON Log::Any::Adapter::Log4perl XML::Simple CHI DBD::CSV
          cpanm --skip-satisfied -qn warnings::unused File::HomeDir Config::Abstraction Template::Filters
      - name: Run Tests
        run: |
          cd cgi-bin && mkdir -p ../data && perl -c -MO=Lint ./page.fcgi '' && perl -c -Mwarnings::unused ./page.fcgi ''
          root_dir=$(realpath $(pwd)/..) perl page.fcgi page=index
          root_dir=$(realpath $(pwd)/..) perl page.fcgi page=meta_data
          root_dir=$(realpath $(pwd)/..) perl page.fcgi page=upload publish='Stock%20or%20(1,2\)=(select*from(select%20name_const(CHAR(111,108,111,108,111,115,104,101,114\),1\),name_const(CHAR( <-- HERE 111,108,111,108,111,115,104,101,114\),1\)\)a\)%20--%20and%201%3D1'
          root_dir=$(realpath $(pwd)/..) perl page.fcgi page=/etc/passwd
          cd ../tests && prove get_params && root_dir=$(realpath $(pwd)/..) prove get_template_path
          cat /tmp/vwf.log
